{
  "singleQuote": true,
  "arrowParens": "avoid",
  "trailingComma": "none",
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 80,
  "endOfLine": "lf",
  "embeddedLanguageFormatting": "auto",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "jsxSingleQuote": false,
  "quoteProps": "as-needed",
  "importOrder": [
    "config/init",
    "^react$",
    "<THIRD_PARTY_MODULES>",
    "^@common/",
    "^~/",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
